

<%= form_with(model: [ @proposal, @proposal.submissions.build ]) do |form| %>

  <p><%= form.file_field :avatar %></p>

  <p><%= form.label :title %> <br> <%= form.text_area :title %></p>

  <p><%= form.label :description %> <br> <%= form.text_area :description %></p>

  <p><%= form.submit %></p>

  <% end %>
