<%-# THIS IS THE INDIVIDUAL SUBMISSION# SHOW PARTIAL  -%>


<%= image_tag @submission.avatar.url(:medium) %>

  <h2><%= @submission.title %></h2>

  <h4>Description: <%= submission.description %></h4>
  <small>Submitted <%= time_ago_in_words(submission.created_at) %> ago by <%=  submission.user.email %></small>

  <br>
