<%= form_with model: @proposal, local: true do |form| %>

<% if @proposal.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@proposal.errors.count, "error") %>
      prohibited this proposal from being saved:
    </h2>
    <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="form-field">
  <p>Got some assets to give people a head-start with? Upload them here!</p>
  <%= form.file_field :avatar %>
</div>

<div class="form-field"><br>
  <p>Project Name</p>
  <%= form.text_field :name %>
</div>

<div class="form-field"><br>
  <p>Give your project a short description to bring in traffic!</p>
  <%= form.text_field :short_desc %>
</div>

<div class="form-field"><br>
  <p>You've got their attention, now give 'em the details with a full run-down of exactly what you want. Be specific, and add links to outside resources! </p>
  <%= form.text_field :longdesc %>
</div>

<div class="form-field">
  <p>What aspect of your business do you need help with? If a category you'd like isn't displayed, select Other, or contact us directly.</p><br>
  <%= form.collection_select :category, Proposal::CATEGORIES, :to_s, :to_s,
       :include_blank => true %>
</div>

<div class="form-field">
  <%= form.submit %>
</div>

<% end %>
