
<div class="box">
  <h2 class = "normal"><%= proposal.name %></h2>
        <%-# USER AVATAR IMAGE THAT IS ALSO A LINK -%>
  <%= link_to "View Proposal", proposal_path(proposal.id) %> -
  <%= link_to image_tag(proposal.user.avatar.url(:thumb)), proposal_path(proposal) %>
    <small>Proposed <%= time_ago_in_words(proposal.created_at) %> ago by <%=  proposal.user.user_name %></small>
    <p ><%= proposal.short_desc %></p>
</div>
