<%-# THIS IS THE INDIVIDUAL PROPOSAL# SHOW PARTIAL  -%>

<h2><%= proposal.name %></h2>
      <%-# USER AVATAR IMAGE THAT IS ALSO A LINK -%>
<%= link_to image_tag(proposal.avatar.url(:medium)), proposal_path(proposal) %>

<h4>Short Description:
  <%= link_to proposal.short_desc %></h4>
  <small>Proposed <%= time_ago_in_words(proposal.created_at) %> by <%=  proposal.user.email %></small>
  <br>
