<nav class="navbar">
          <%= link_to "Home", proposals_path %>
          <% if user_signed_in? %>
            <%= link_to "New Proposal", new_proposal_path %>
            <%= link_to "Account", edit_user_registration_path %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
            <%= link_to "Register", new_user_registration_path %>
          <% end %>
  </nav>
