<nav class="navbar">
  <span class = "float_l"><%= link_to "Home", proposals_path %></span>
  <% if user_signed_in? %></span>

  <% if current_user.access_level != "contractor" %>
    <span class="float_r"><%= link_to "New Proposal", new_proposal_path %></span>
  <% end %>

    <span class="float_r"><%= link_to "Profile", profile_path(current_user.user_name) %></span>
    <span class="float_r"><%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
  <% else %>
    <span class="float_r"><%= link_to "Login", new_user_session_path %></span>
    <span class="float_r"><%= link_to "Register", new_user_registration_path %></span>
  <% end %>
</nav>
